@model AlquilerVehiculos.Models.TVehiculosTipo

@{
    ViewData["Title"] = "Detalles de Módelo de Vehículo";
}

<h1 class="mb-4">Detalles de Módelo de Vehículoe</h1>

<div class="card shadow-sm">
    <div class="card-body">

        <h4 class="card-title mb-3">
            Información del Módelo de Vehículo
        </h4>
        <hr />

        <dl class="row">

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Descripcion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Descripcion)</dd>

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.TarifaDiaria)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TarifaDiaria.ToString("0.00"))</dd>

        </dl>

        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Index" class="btn btn-secondary">
                Volver a la lista
            </a>

            <a asp-action="Edit" asp-route-id="@Model?.IdTipo" class="btn btn-primary">
                Editar Modelo
            </a>
        </div>

    </div>
</div>

